background: content-box radial-gradient(gold, royalpurple);

h1 {
  font-family: 'Times New Roman';
  font-size: 72px;
  color:purple;
  text-align: center
}

p {
  font-family: Arial;
  font-size: 18px;
  color: blue;
}

#imageContainer {
  float: right;
  width: 500px;
}<!-- picture format -->

hr {
  height: 2px;
  background-color: white;
  border: 2px solid black;
     <!--border line element -->
  margin-top: 70px;
  margin-bottom: 70px;
}
