
  

h1, p, h2 {
  font-family:'Times New Roman';

}

h1 {
    font-size: 72px;
  color:purple;
  text-align: center
 
}

p {
   font-size: 30px;
  color: blue;
}


hr {
  height: 2px;
  background-color: white;
  border: 2px solid black;
     <!--border line element -->
  margin-top: 70px;
  margin-bottom: 70px;
}

h3 {
  font-size: 30px;
  padding-bottom: 2px; 
}
