
  

h1, p, h2 {
  font-family:'Times New Roman'; /*changeing the font for h1 h2 and p */

}

h1 {
    font-size: 72px;  /*h1 will be set to purple with a center alignement */
  color:purple;
  text-align: center
 
}

p {
   font-size: 30px; /*p will be blue with size 30px */
  color: blue;
}


hr {
  height: 2px;              /*the line breaks will be whight with black border wiht a margin top and bottom of 70px and a height of 2px */
  background-color: white;
  border: 2px solid black;
  margin-top: 70px;
  margin-bottom: 70px;
}

h3 {             /*h3 font size will be 30px and the padding bottom will be 2px*/
  font-size: 30px;
  padding-bottom: 2px; 
}

a: visited {   /*color change when link is pressed*/
  font-size: 40px;
  color: red;
}
